<!-- <div class="container">
  <h1>Upload your image</h1>
  <p>Crop your image just how you want it before you save.</p>
  <p>If you would like your image to load faster - just spend a second optimizing it here: <a href="http://optimizilla.com/">http://optimizilla.com/</a>.</p>
  <p>If you want to fancy your image up a bit, adjusting color, brightness, etc., try Pixlr: <a href="https://pixlr.com/">https://pixlr.com/</a>.</p>
  	<form class="file-upload">
		<button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">ADD IMAGE</button>
		<input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
		<div class="image-upload-wrap" style="display:none">
			<div class="image-title-wrap"><span class="image-title">Uploaded Image</span><button type="button" onclick="removeUpload()" class="remove-image">X</button></div>
			<img class="file-upload-image" src="#" alt="your image"/>
		</div>
	</form>
</div> -->

<section ng-controller="imageuploadCtrl">
  <form name="imageUploadForm">
    <fieldset>
      <legend>Upload your image</legend>
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFiles">
      <i ng-show="imageUploadForm.file.$error.required">*required</i><br>
      <i ng-show="imageUploadForm.file.$error.maxSize">File too large
          {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="imageUploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!imageUploadForm.$valid"
              ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
</section>
