<section>
  <form name="imageUploadForm">
    <fieldset>
      <legend>Upload Image</legend>
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFiles">
      <i ng-show="imageUploadForm.file.$error.required">*required</i><br>
      <i ng-show="imageUploadForm.file.$error.maxSize">File too large
          {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="imageUploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
      <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!imageUploadForm.$valid"
              ng-click="uploadPic(picFile)">Upload</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
</section>
